{% extends "auctions/layout.html" %}

{% block body %}
    <div class="create_page">
        <div class="page_name">Create Listing</div>
        <hr>
        <form action="{% url 'create' %}" method="POST" class="create">
            {% csrf_token %}
            <span>Title </span> <input type="text" name="title" maxlength="32" placeholder="Required" required>
            <span>Description </span> <textarea name="description" placeholder="Required" maxlength="1000" required></textarea>
            <span>Price </span> <input type="number" name="price" placeholder="Required" required>
            <span>Image url </span> <input type="url" name="image" placeholder="Optional">
            <span>Categories </span> <div class="categories">
                {% for category in categories %}
                    <label class="category">
                        <input type="checkbox" name="category" value="{{category.id}}">
                        <svg id="select_category" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                        <span>{{category.category}}</span>
                    </label>
                {% endfor %}
            </div>
            <button type="submit" class="create_button">Create</button>
        </form>
    </div>
{% endblock %}